fieldset {
    border: none;
}

table,td,th{
    border: solid;

    border-collapse:collapse ;

    text-align: center;
}

textarea {
    width: 100%;
    height: 100%;
}

button {
    height: 50px;
}

figure {
    text-align: center;
}

p{
    padding: 5px;
}

img {
    width: 50%;
}

main{
    display: inline;
}

@media (min-width:701px){
    .importance, .descriptif, .avantage{
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 85px 1fr;
    }

    .importance h2, .descriptif h2,.avantage h2{
        grid-area: 1/1/1/3;
    }

    form {
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 1fr 1fr;
    }

    form fieldset:nth-child(1) {
        grid-area: 1/1/1/3;

    }

    form fieldset:nth-child(2) {
        grid-area: 2/1/2/2;
    }

    form fieldset:nth-child(3) {
        grid-area: 2/2/2/3;
    }

    form button {
        grid-area: 3/1/3/3;
    }
}

@media (max-width:700px) {
    main section,form {
        display: flex;

        flex-direction: column;
    }

}
